* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#7e4545, #27364b);
}

.calculator {
    border: 1px solid black;
    padding: 13px;
    /* border-radius: 15px; */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    background: transparent;
   box-shadow: 0px 3px 15px rgb(133, 155, 119, 0.5);
   
}

#display {
    height: 65px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 6px;
    margin-top: 0%;
    background: transparent;
    box-shadow: 0px 3px 13px rgba(67, 128, 78, 0.7);
    font-size: 45px;
    text-align: right;
    width: 320px;
    cursor: pointer;
    overflow-clip-margin: 44;
}

display {
    color: white;
    
}

button {
    width: 60px;
    height: 60px;
    margin: 9px;
    /* border: none; */
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background: transparent;
    box-shadow: -5px -5px 14px rgb(255, 255, 255, 0.4);
    font-size: 20px;

}

#ac {
    background-color: rgb(219, 14, 17);
}

#equal {
    background-color: orange;
}

#del {
    background-color: rgb(81, 125, 110);
}

#logo {

    padding-left: 4px;
    margin: 0%;


}